* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

nav {
  background: #ffffff;
  height: 70px;
  padding: 12px 40px;
  font-weight: bold;
  font-size: 35px;
  line-height: 46px;
  width: 100%;
}

nav div span {
  color: #4d9277;
}

header {
  height: 230px;
  background: #a244ff;
  position: relative;
  width: 100%;
  margin-bottom: 100px;
}

header img {
  position: absolute;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body {
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
}

body > img {
  position: absolute;
}

body #svg1 {
  top: 300px;
  left: 0;
  width: 20%;
  pointer-events: none;
}

body #svg2 {
  bottom: 0px;
  right: 0;
  width: 30%;
  pointer-events: none;
}

main {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section {
  /* First Section */
  /* Second Section */
  /* third Section */
}

main section:nth-child(1) {
  text-align: center;
  width: 52%;
}

@media screen and (max-width: 768px) {
  main section:nth-child(1) {
    width: 100%;
  }
}

main section:nth-child(1) h1 {
  margin-bottom: 30px;
  font-size: 34px;
  line-height: 46px;
  font-weight: bold;
}

main section:nth-child(1) p {
  margin-bottom: 30px;
  font-size: 16px;
}

main section:nth-child(1) a {
  text-decoration: none;
  padding: 10px 20px;
  background: #a244ff;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  line-height: 32px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

main section:nth-child(1) a:hover {
  background: #8e23f8;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

main section:nth-child(3) div {
  float: left;
  width: 50%;
  padding: 100px 0;
}

@media screen and (max-width: 768px) {
  main section:nth-child(3) div {
    width: 100%;
  }
}

main section:nth-child(3) div h1 {
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 35px;
}

main section:nth-child(3) img {
  float: right;
}

main section:nth-child(5) {
  width: 52%;
}

@media screen and (max-width: 768px) {
  main section:nth-child(5) {
    width: 100%;
  }
}

main section:nth-child(5) > div {
  margin: 40px 0;
}

main section:nth-child(5) > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

main section:nth-child(5) > div > div h1 {
  color: #b76eff;
  font-size: 27px;
  line-height: 36px;
  font-weight: bold;
}

main section:nth-child(5) > div > div img {
  margin-right: 20px;
  height: 36px;
  width: 36px;
}

main section:nth-child(5) > div p {
  margin-left: 56px;
  font-size: 16px;
}

main hr {
  margin: 70.5px 0;
  width: 100%;
  color: #a7a7a7;
}

footer {
  height: 490px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  width: 100%;
}

footer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #a244ff;
  width: 100%;
  height: 331px;
}

footer > div > :nth-child(1) {
  color: white;
  margin: 20px 0;
  font-size: 34px;
  font-weight: bold;
}

footer > div > :nth-child(1) span {
  color: #4d9277;
}

footer > div > :nth-child(2) {
  margin: 20px 0;
}

footer > div > :nth-child(2) input {
  height: 30px;
  width: 207px;
  border-radius: 5px;
  font-size: 12px;
  padding: 7px 12px 7px;
  border: none;
}

footer > div > :nth-child(2) a {
  padding: 8px 14px;
  text-decoration: none;
  font-size: 13px;
  line-height: 17px;
  color: #a244ff;
  background: #e0e0e0;
  border-radius: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-weight: bold;
}

footer > div > :nth-child(2) a:hover {
  background: #daa3a3;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

footer > div > :nth-child(3) {
  margin: 20px 0;
}

footer > div > :nth-child(3) a {
  text-decoration: none;
  color: #ffffff;
  margin: 0 20px;
  font-size: 20px;
  line-height: 27px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

footer > div > :nth-child(3) a:hover {
  color: #daa3a3;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
/*# sourceMappingURL=main.css.map */